/* leave this for now */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* the :root pseudo-class selects everything in my app */
/* CSS variables are custom selectors */
:root {
  /* we are declaring the CSS variable here */
  --background: #ffffff;
  --foreground: #171717;
  --highlight: rgb(114, 183, 127);
  --font: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* we are using the variable name instead of the actual value for convenience */
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font);
}

.button-style {
  @apply bg-transparent hover:bg-green-500 text-green-700 font-semibold hover:text-white py-2 px-4 border border-green-500 hover:border-transparent rounded;
}

.posts-container {
  padding: 30px;
  background-color: #a8b79c;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posts-title {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.sort-links {
  font-size: 1rem;
  color: #295813;
  text-decoration: none;
  margin-right: 10px;
}

.sort-links:hover {
  text-decoration: underline;
}

ul.posts-list {
  width: auto;
  list-style-type: none;
  padding-left: 0;
}

ul.posts-list li {
  background-color: #e8e0e0f8;
  padding: 15px;
  border: 1px solid #200101;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

ul.posts-list li a {
  color: #295813;
  font-weight: bold;
  text-decoration: none;
}

ul.posts-list li a:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  color: #0f571a;
  font-weight: bold;
  border: 2px solid #0b5a13;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0e640a;
  color: white;
}

/* formInput {
  background-color: transparent;
  color: #0f571a;
  font-weight: bold;
  border: 2px solid #0b5a13;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */
